[2020-03-12 16:40] vinivendra opened #1 "Test multiline strings"
Add a test case to check if multiline strings are being translated correctly. Include tests for edge cases (newlines at the start and at the end, different indentations, comments with "//", etc).

[2020-03-12 16:42] vinivendra opened #2 "Array's firstIndex(of:) needs a better translation"
The `array.firstIndex(of:)` method fails by returning `nil` on Swift and `-1` on Kotlin, which can make it hard to write translatable code using it.

Actions needed:
- Either make up a better translation or add a new method to the GryphonKotlinLibrary.
- Check if this method is used in the Gryphon codebase and update the uses accordingly.

[2020-03-12 16:44] vinivendra opened #3 "Automatically escape dollar signs"
Dollar signs ($'s) in Swift strings may cause problems when translated directly, since Kotlin uses them as an escape character. It may be possible to always escape them during the translation, which should fix this problem.

If this gets done, it might be possible to simplify the handling of dollar signs in AuxiliaryFileContents.swift, and maybe other files too.

[2020-03-12 17:17] vinivendra opened #4 "Ignore comments in multiline strings"
Comments that are inside multiline strings (as a part of the string itself) are being treated as normal code comments and are being duplicated as comment nodes. For example:

[code]

...is translated as...

[code]

Note the `// blabla` comment at the end of the Kotlin translation that shouldn't be there.

This only seems so happen when Gryphon is invoked with `--no-main-file`, since the comment ha

[2020-03-12 17:19] vinivendra opened #5 "Ignore `// gryphon multiline` comments"
All `// gryphon multiline` comments should be ignored during translation and should not appear in the translated Kotlin code.

Example:

[code]

...gets translated to...

[code]

The `// gryphon multiline` comment at the start of the Kotlin translation should not be there.

[2020-03-12 17:27] vinivendra opened #6 "Translate Dictionary's mapValues"
Add a library translation for Dictionary.mapValues.

This can be difficult because Swift's Dictionary.mapValues takes a closure that receives a tuple of type `(Key, Value)` as a parameter. Kotlin's mapValues, however, takes a closure that receives _two_ parameters, one of type `Key` and one of type `Value`.

[2020-03-13 15:44] vinivendra opened #7 "Support access modifiers for setters"
Both Swift and Kotlin support specifying access modifiers for property setters, which means Gryphon could probably support a translation:

[code]

[code]

Translating this feature should also involve calculating the correct access modifier and omitting it when appropriate, just like with any other declaration.

[2020-03-16 21:55] vinivendra opened #8 "Support for translating block comments"
Currently only line comments (`// blabla` or `/// blabla`) are detected as comments for translation. Block comments are ignored. This would involve teaching the compiler to parse block comments (both `/* */` and `/** **/`) and translate them correctly.

[2020-03-16 21:57] vinivendra opened #9 "Imitate original vertical whitespace"
Vertical whitespace is currently added in an arbitrary way, but the ranges in the AST nodes may allow us to add it in a way that imitates the input code, probably leading to more readable outputs.

[2020-03-17 13:41] vinivendra opened #10 "Support generic classes"
Generic information for classes is currently ignored. Make sure the class's header is translated correctly, as well as its members. Also, add tests.

[2020-03-17 13:42] vinivendra opened #11 "Support generic structs"
Generic information for classes is currently ignored. Make sure the class's header is translated correctly, as well as its members. Also, add tests.

This should be easier once issue #10 is done, or vice-versa.

[2020-03-17 15:19] vinivendra opened #12 "Support multiple defers in a single block"
Gryphon currently flatMaps all defer statements it finds in a function's body into a single try/finally block. This can cause correctness issues. A better way to translate multiple defer statements would something like:

- For every statement in a block:
    - If it's a normal statement, add it to the block.
    - If it's a `defer` statement:
        - Add all subsequent statements to a new `try`

[2020-03-17 15:24] vinivendra opened #13 "Support defers in nested blocks"
`Defer`s are currently only supported as top-level statements in function bodies, but they could also be supported inside other, nested blocks (`if`'s, `for`'s, etc). It's important to add acceptance tests to check if the behavior of early exits in each case is the same (i.e. a `defer` in an `if` block only exits the `if`, not the parent function).

[2020-03-18 15:16] vinivendra opened #14 "Support returns in closures"
In Swift, return statements inside closures exit the closure; in Kotlin, they exit the parent function. Kotlin offers a way to make returns exit the closure [using labels](https://kotlinlang.org/docs/reference/returns.html). This could probably be accomplished in Gryphon by automatically adding `return@closureName`, where `closureName` is the name of the method that called the topmost closure. For

[2020-03-20 21:34] vinivendra opened #15 "Translate access modifiers for extensions"
Currently (as of Swift 5.1.3) extensions don't include their access modifiers when their AST is dumped. This is an issue with the Swift compiler that stops Gryphon being able to translate access modifiers in extensions.

Fixing this issue would allow for extensions to be treated as basically any other declaration in the access modifier algorithm.

[2020-03-26 19:29] vinivendra opened #16 "Support autoclosures with tuple shuffle expressions"
Currently, autoclosures only get translated correctly when the function call is a TupleExpression, but not when it's a TupleShuffleExpression. For instance, this is translated correctly:

[code]

But this isn't:

[code]

[2020-03-26 19:44] vinivendra opened #17 "Remove break statements in switches"
Switches in Swift can have `break` statements in their cases. This is often used for cases that have no other statements, but it can in used in cases with multiple statements too:

[code]

In the example above, Gryphon would currently include the `break` statements used on `case 2` and on `default`. This is a bug, since the Kotlin compiler would throw errors for these `break`s.

A correct translat

[2020-03-26 19:53] vinivendra opened #18 "Add parentheses around "or" operators in if conditions"
Gryphon translates a list of if conditions in Swift as a sequence of "&&" operations in Kotlin. This means the code below

[code]

would translate to

[code]

This is a problem because Kotlin evaluates "&&" before it evaluates "||". This means the Swift code above will never print "Hello!", but the Kotlin code will. A solution to this problem would be to automatically add parentheses around "||" c

[2020-03-26 20:00] vinivendra opened #19 "Raise warnings for side effects in if-lets recursively"
Gryphon raises warnings when it finds a function call that may cause side-effects to happen in Kotlin but not in Swift:

[code]

gets translated to

[code]

In this example, Gryphon raises a warning for the first `if`, but not the second one. This is a bug. It happens because the pass that raises warnings does not visit the first `if`'s statements recursively (to avoid running twice on any possibl

[2020-03-26 20:05] vinivendra opened #20 "Add tests for insert comments in multiline strings"
There should be a test that ensures insert comments on multiline strings are ignored. This means the following code

[code]

should be translated to something like

[code]

that is, no statements should be ignored or inserted because of the "ignore" and "insert" comments inside the string.

This can be done once issue #4 is solved.

[2020-03-26 20:10] vinivendra opened #21 "Translate dictionary's sort"
Kotlin's `Map`s don't implement a sorting mechanism that's compatible with Swift, just like the `List`s didn't. In order to translate a Dictionary's sort, we'll probably have to implement a quicksort operation or something, just like we did with `List`.

Once this is decided and either implemented or discarded, we should also either translate or delete the `(Mutable)MapTest.testSortedBy` tests.

[2020-03-30 20:25] vinivendra opened #22 "Match templates for trailing closures in functions with multiple parameters"
Currently, templates for trailing closures only match if the closure is the only parameter of the function call. If there are more, the template won't match. For instance:

[code]

translates to

[code]

If the template had matched, the translation (in the second-to-last line of Kotlin code) would be `g(0) { println(it) }`, but it wasn't.

[2020-03-30 20:42] vinivendra opened #23 "Support functions that return other functions"
Function return types currently can't be function types themselves. This will probably be easier to fix after the type system has been refactored.

[2020-04-20 16:07] vinivendra opened #24 "Add some structure to template strings"
Templates currently are translated as literal strings, with some replacements for relevant expressions. For instance, `array.first` gets translated to the literal string `"_array.first"`, replacing `"_array"` for the matched expression.

This system is limited because there is no information about the structure of the literal string. In this example, we don't know the string contains a dot express

[2020-04-29 14:33] vinivendra opened #25 "Float(string) and similar functions need a better translation"
The current translation of `Float(string)` turns it into `string.toFloat()`. This can be a problem when the translations fail: the Swift version returns `nil` and the Kotlin version throws an error.

This problem seems to be similar to that in #2.

A way to solve both these problems (and possibly more to come) is to add something like this to the GryphonKotlinLibrary:

[code]

It might seem unintu

[2020-04-29 14:34] vinivendra commented on #25
Once this is done, it might be interesting to add a direct translation for `Float(string)!` etc.

[2020-04-29 14:41] vinivendra opened #26 "The `equals` and `toString` translations are open regardless of their parent classes"
The translations for `==` and `description` are done manually and always include the `open` modifier. This is a problem when the enveloping class is marked as `final`, which causes Kotlin to raise a warning (since these methods can't be overridden anyway).

It would be better to set the `isOpen` property instead of adding the `open` keyword manually so it could be treated correctly. In this case,

[2020-04-29 15:00] vinivendra opened #27 "Refactor tupleExpression and tupleShuffleExpression"
These two classes share a lot of the same code and functions. We might still have to differentiate between them for a few things (i.e. trailing closures work differently for tuple shuffles) but it might be possible to make on a subclass of the other, or to make them the same class with a differentiating boolean, or something.

[2020-04-29 15:02] vinivendra commented on #16
Fixed by 95a6956.

[2020-04-29 15:02] #16 closed

[2020-05-01 16:58] vinivendra opened #28 "Look for similar arguments when unsupported arguments are detected"
Try guessing if the user made a typo in an unsupported argument and suggesting a fix (for instance, using the [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance)).

[2020-05-05 14:24] vinivendra opened #29 "List casts crash on Swift but throw errors on Kotlin"
This could cause problems if a method on the stack catches errors, since it could cause Kotlin code to behave differently. The best solution would probably be to crash on Kotlin too, maybe using something like what's used for `fatalError` translations.

[2020-05-16 23:17] vinivendra opened #30 "Specify native collection warnings"
Currently, when a native collection is detected, the warning suggest changing it to either a List or a Map. This could be specified to suggesting Maps for Dictionaries and Lists for Arrays.

[2020-05-16 23:21] vinivendra opened #31 "Add automatic `package` statement to the Kotlin library"
When the Kotlin library is generated and added to an Android app, it doesn't come with a `package` statement, which must be added manually by the user. Not adding this statement causes the Android app not to include the library in the compilation, a bug that might be difficult to diagnose. Adding a (purposefully fake) statement like `package com.example.myAppName` might make Android Studio raise a

[2020-05-16 23:25] vinivendra opened #32 "Add Swift 5.3 beta in the tests"
The Swift 5.3 release branch [already exists](https://github.com/apple/swift/tree/release/5.3), which means we can start testing with it to catch any errors early and be ready for when it launches. It might be a good idea to mark it as a development branch in the tests, so that we can check how recent it is and complain if it gets too old (forcing devs to keep it updated, otherwise there's no poin

[2020-05-16 23:27] vinivendra opened #33 "Raise warning for Xcode file without .kt output"
When translating an Xcode project it seems reasonable to assume the user doesn't want the output to be printed to the console. We could raise a warning when we find an input file (in the xcfilelist) that doesn't have an output comment so that the user realizes the problem quickly.

[2020-05-17 14:37] #31 closed

[2020-05-17 22:47] #33 closed

[2020-05-20 15:58] vinivendra opened #34 "Support translating unit tests"
There's currently some barebones support for translating XCTest which is used for the Bootstrapping Tests. This could maybe be expanded into more solid support for translating XCTest references into a real Android unit test framework like [Espresso](https://developer.android.com/training/testing/espresso/).

[2020-05-20 16:00] vinivendra opened #35 "Improve templates for the Swift standard library"
The templates file currently covers a few parts of the Swift standard library, mainly Strings and Arrays. This issue will be used to keep track of expanding the standard library support to other types and methods.

[2020-05-23 09:44] ExeRhythm opened #36 "Xcode error: failed to turn Swift AST into Gryphon AST: Unknown expression"
Hello. I am getting this error. How to fix it? Thanks
<img width="269" alt="Screenshot 2020-05-23 at 12 44 05" src="https://user-images.githubusercontent.com/52459150/82727418-1c0fb980-9cf3-11ea-82ea-fded0a31e3ee.png">

[2020-05-23 14:26] vinivendra commented on #18
According to the [Kotlin reference](https://kotlinlang.org/docs/reference/grammar.html#expressions), the `||` operator is the only operator that's currently supported and has a lower precedence than `&&`.

[2020-05-23 14:27] #18 closed

[2020-05-24 15:47] vinivendra commented on #14
Two nested maps make Kotlin raise a warning but exit only the outer map, which is also the Swift behavior.

[2020-05-24 15:49] #14 closed

[2020-05-26 13:53] vinivendra commented on #36
Sorry for the delay! I thought I had left a comment here but apparently I forgot 😓

This is probably happening because you are trying to translate an expression that isn't supported yet.

Can you provide more information? It'd be helpful if you could say the version of Gryphon you're using, and also if you could show the part of your code that's giving this error.

[2020-05-26 15:11] #17 closed

[2020-05-27 16:54] vinivendra commented on #3
This issue is ideal for someone making their first contribution to an open source project. If you have any experience contributing to open source, please let someone else take this one!

I have already implemented a solution locally so that I could make sure it was easy - and so I could write a few instructions:

- [ ] Start by posting a comment below saying you want to work on this (just so that

[2020-05-28 19:11] massimobio commented on #36
I am running into the same issue.
The only difference I can think of between my project and what's described in the tutorial is that my xcproj is part of an xcworspace.

In an effort to debug this I created a simple Swift file like this.
Added it to all my targets and verified that they compile correctly.
[code]

[Build target Gryphon_2020-05-28T15-03-15.txt](https://github.com/vinivendra/Gryphon/

[2020-05-28 21:04] vinivendra commented on #36
Hi @massimobio, your problem seems to be different than the original post's, but let's take a look.

I don't think I've tested Xcode support on a project with an xcworkspace yet; that might be making xcodebuild confused (which would make Gryphon confused too).

Let's try this: in your project's folder there should be a hidden folder called `.gryphon`. In it, there should be a file called `updateAS

[2020-05-28 21:08] massimobio commented on #36
You are right, different error message. My bad.
I'd be happy to make a separate issue and delete these messages here to keep things clean.
[code]

[2020-05-28 21:20] massimobio opened #39 "Xcode error: Command PhaseScriptExecution failed with a nonzero exit code"
I get this error when trying to compile the Gryphon target.
The only difference I can think of between my project and what's described in the tutorial is that my xcproj is part of an xcworspace.

In an effort to debug this I created a simple Swift file like this.
Added it to all my targets and verified that they compile correctly.
I'm using Gryphon 0.6
[code]

[Build target Gryphon_2020-05-28T15-0

[2020-05-28 21:39] vinivendra commented on #36
No worries! Let's try to find the problem, then we'll create a new issue if we need to.

It seems from this file that Gryphon is only asking Swift to parse three files for it:

[code]

The file you want to translate, which I assume is called something like `MixerInstrumentType.swift`, doesn't seem to be on this list, which gives you that error.

Is there maybe another target on your xcproject that

[2020-05-28 21:57] massimobio commented on #36
I use Cocoapods which is the only other project in my workspace besides the main app.
Within the main project I have a few targets and the one you listed is the iOS Share extension that only contains a few files. Is there a way to tell Gryphon which target to use?
<img width="629" alt="Screen Shot 2020-05-28 at 5 53 05 PM" src="https://user-images.githubusercontent.com/240599/83198185-b5343b00-a10

[2020-05-28 22:08] vinivendra opened #40 "Create a way to choose a target in an Xcode project"
Xcode projects may contain more than one target. If the target that xcodebuild selects by default isn't the one we want to translate, there should be a way to make it select a specific target.

Reported in #36.

[2020-05-28 22:09] vinivendra commented on #36
There isn't yet, but it shouldn't be hard to implement. I've added issue #40 to track this problem. Let me take a look and I'll let you know if I manage to fix it.

[2020-05-28 22:11] massimobio commented on #39
See #40 and #36

[2020-05-28 22:11] #39 closed

[2020-05-29 00:59] vinivendra commented on #36
Hi @massimobio, I pushed an experimental implementation of this to a new `custom-targets` branch. Could you try to see if it fixes your problem?

You would have to clone/checkout the branch, then run the installation script. Then, try initializing Gryphon again, this time passing your target:

[code]

If it works, try translating your target with the console:

[code]

If that works, then you shoul

[2020-05-29 01:00] vinivendra commented on #40
Hi @massimobio, I pushed an experimental implementation of this to a new `custom-targets` branch. Could you try to see if it fixes your problem?

You would have to clone/checkout the branch, then run the installation script. Then, try initializing Gryphon again, this time passing your target:

[code]

If it works, try translating your target with the console:

[code]

If that works, then you shoul

[2020-05-29 01:46] massimobio commented on #40
Thank you @vinivendra for looking into this so fast.
I installed the `custom-tagerts` brach successfully.
I re-ran the `gryphon init` with the `--target` argument but it didn't make any meaningful changes to the `project.pbxproj` file.

I attempted to translate my target from the command line and this time the dump shows all the files associated with the target so that seems to work:
[updateASTDum

[2020-05-29 02:14] vinivendra commented on #40
Damn.

I know this bug. It's actually [a bug in the Swift compiler](https://bugs.swift.org/browse/SR-12704). Gryphon really would limit the translation to that file, but since Swift crashes before it can print the AST dumps, Gryphon never even starts looking at the code.

I reported this bug a while ago, and it's already fixed in the development snapshots, but I don't know if it made it to any rel

[2020-05-29 03:05] massimobio commented on #40
Xcode 12 is around the corner so we'll probably get a newer version of Swift with the bug fix then.

I though of a simpler solution: since I don't want to translate any of the classes containing `#if` for now: I created a separate Target (of type Framework) and added the one file to translate to it and it worked 🎉
From the console
`$ gryphon iReal\ Pro.xcodeproj gryphonInputFiles.xcfilelist --targ

[2020-05-29 20:24] vinivendra commented on #40
Good to know 😄

I thought about this when I was creating this feature. If I remember correctly, the problem was that the list of files wasn't forwarded to the script that called Gryphon, so I couldn't access it. Maybe I'll revisit this idea now that I have more experience with the Xcode integration, though.

Since this solved your problem, I'm merging the changes. Plus, I made it so that using `--

[2020-05-29 20:24] #40 closed

[2020-05-29 22:42] vinivendra opened #42 "Improve verbose logging"
**Is your feature request related to a problem? Please describe.**
It can be hard to help users diagnose their problems without some idea of what the program did (or was doing) when the problem happened. Better progress logging could make this easier, even if hidden behind the `--verbose` flag.

**Describe the solution you'd like**
The improved logging should say what Gryphon is doing at any given

[2020-05-29 22:57] #42 closed

[2020-06-06 22:31] vinivendra opened #44 "Avoid reporting ranges in the wrong files."
Currently, source file ranges only include information on the lines and columns of a file, but not on the file path. The code assumes the range is relative to the current file being translated, which is almost always the case, but can cause issues when an expression comes from another file (for instance the templates library).

If the file path was included in the range, this could be fixed, but i

[2020-06-10 02:08] barrault01 opened #47 "Closure translation not working properly when define like this: () -> Void"
Let’s say you have a closure declares like this:
(1)` var completion: (() -> Void)`

You can also declare it like this:

(2)` var completion: (() -> ())`

Both approaches are correct and should be translated equally.

Like this:

`var completion: () -> Unit `

Current result with the lib:
(2) is correct
(1) produce this:
`var completion: () -> Void`
and this not complied in Kotlin

[2020-06-10 02:22] vinivendra commented on #36
Closing this issue due to inactivity. Feel free to comment with any new information and we can reopen it.

[2020-06-10 02:22] #36 closed

[2020-06-11 03:09] #47 closed

[2020-06-12 20:44] rlinoz opened #49 "Support optional function type for variables"
**Describe the bug**
When using optional function type the result was not an optional function type, instead it was a function type with optional return in Kotlin

**How to reproduce it**
Create this code in Swift
`public var foo: (() -> ())?`

Will output this code in Kotlin
`var foo: () -> Unit? = null`

The proper result should be
`var foo: (() -> Unit)? = null`

**Your environment (please comp

[2020-06-12 20:47] rlinoz opened #50 "Support for optional function type invoke"
**Describe the bug**
Invoking an optional function type is not being properly translated.

**How to reproduce it**
When invoking a optional function type in Swift
`foo?()`

The result in Kotlin is
`foo?()`

When it should be
`foo?.invoke()`

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: 0.7

[2020-06-12 23:39] vinivendra commented on #49
Thanks for the report.
This might be an easy fix, but it's hard to say for sure. I think we're removing the parentheses when translating the type, then just not bothering to add them back (since they're usually redundant). If that's it, we can probably fix it somewhere around [here](https://github.com/vinivendra/Gryphon/blob/master/Sources/GryphonLib/KotlinTranslator.swift#L2099).
I'm not sure if

[2020-06-13 00:00] vinivendra commented on #50
This one might be a bit more complicated to solve... here's what I'd try to do:

1. Create a new transpilation pass in `TranspilationPass.swift`. Call it something like `OptionalFunctionsTranspilationPass` or whatever.

2. Override the `processCallExpression` method.

3. Inside the method, check if the callExpression's `function` is an `OptionalExpression`. If it is, return the expression you want

[2020-06-13 10:33] markkulube commented on #3
@vinivendra - If this is still open, I will on it.

[2020-06-13 12:44] vinivendra commented on #3
Yeah, this is still open i anyone wants it :)

[2020-06-16 14:42] #49 closed

[2020-06-16 15:18] #50 closed

[2020-06-17 01:57] rlinoz opened #53 "Support number type conversion"
**Describe the bug**
When converting numbers the outcome in wrong.

If you init a double in swift:
`Double(intVariable)`

It should output this in kotlin:
`intVariable.toDouble()`

Instead it is outputing:
`Double(intVariable)`

This behavior should be consistent from and to every number type.

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: 0.7

[2020-06-17 02:13] rlinoz opened #54 "Support Swift complex guard"
**Describe the bug**
When using a chained guard as below
[code]

The result is
[code]

But when calling `p.baz` p is optional, so it should insert the optional operator like this `p?.baz`

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: 0.7

[2020-06-17 13:13] #54 closed

[2020-06-17 13:56] #53 closed

[2020-06-17 18:25] barrault01 opened #57 "Internal init are not marked as internal in Kotlin for public struct/class"
This input in Swift:
[code]
Should return:
[code]
Today it returned:

[code]

[2020-06-17 18:35] barrault01 opened #58 "Argument label before the parameter name in Swift are not ignored correctly"
This input in Swift:
[code]
Should return:
[code]
Today it returned:

[code]

[2020-06-17 22:08] #24 closed

[2020-06-18 15:42] #57 closed

[2020-06-18 17:02] #58 closed

[2020-06-18 17:22] rlinoz opened #63 "Support automatic override"
**Is your feature request related to a problem? Please describe.**
It is just not optimal to use the gryphon annotation for override, also I always forget to add it and then I discover the problem when trying to use it.

**Describe the solution you'd like**
It would be really nice if a interface implementation already came with the override annotation

So for this Swift code:
[code]
I would like t

[2020-06-18 20:47] rlinoz commented on #25
Kotlin has a `string.toFloatOrNull()`

One approach could be to always use the `to<NumberType>OrNull()` function instead

[2020-06-19 00:28] vinivendra opened #64 "Refactor the type system"
There are several complicated algorithms (many of which haven't been implemented yet, like #63) that would be easier to do if we had a decent type system.

Instead of using strings for all types, we could have a more complicated structure. Something like

[code]

[2020-06-19 00:30] vinivendra commented on #63
So, I've wanted to do this for a while now, but it's not as easy as I'd hoped.

The basic structure for storing protocols, comparing the functions and adding the `override` is pretty much already there; I added an initial implementation of the parts that were missing in in the `automatic-overrides` branch.

The issue comes when checking if the function's type is a match. If we have a class `B` con

[2020-07-01 20:54] rlinoz opened #66 "Wrong return call inside lambda with guard"
**Describe the bug**
returning from inside a `guard` after doing something inside the `else` outputs wrong kotlin code

**How to reproduce it**
Given the swift code:
[code]
It outputs
[code]

The correct thing to do inside the lambda return is `return@foo`

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: version 0.8

[2020-07-03 19:06] #66 closed

[2020-07-06 14:35] rlinoz opened #68 "Returns not annotaed in map"
**Describe the bug**
When map has returns it is not annotated in kotlin

**How to reproduce it**
Given this swift code:
[code]
It generates this kotlin code:
[code]

In Kotlin when we have returns inside a map, it has to be annotated with @map, so it would be `return@map label` and `return@map ""`

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: v

[2020-07-06 21:52] vinivendra commented on #68
Seems to be working on the development branch, would you mind trying it out? You can either clone and install it manually, or do it with homebrew:

[code]

[2020-07-07 13:16] sgade opened #69 "Failure to recognise optional 'let _'"
**Describe the bug**
Using templates, Gryphon should translate the following successfully:

[code]

so that something like this:

[code]

turns into this:

[code]

However, the following error is thrown, failing the translation:
[code]

_Removing the `let` makes the translation succeed. This should work as it compiles fine in Swift._

**How to reproduce it**
1. Create `gryphonTemplates` as seen ab

[2020-07-07 13:33] sgade opened #70 "Translate constructor of structs"
**Is your feature request related to a problem? Please describe.**

Using a `struct` to manage data, in Swift you can add an initialiser for storing the properties:

[code]

this is translated by Gryphon to a `data class` with a `constructor`:

[code]

**Describe the solution you'd like**

According to my Kotlin knowledge, the best way to implement the behavior would be to use default values. See

[2020-07-07 13:49] sgade commented on #70
This actually leads to Kotlin build errors: `Primary constructor call expected` and `Val cannot be reassigned`.
<img width="330" alt="image" src="https://user-images.githubusercontent.com/2040657/86790952-47632380-c069-11ea-9d57-7c5766fda027.png">

[2020-07-07 14:06] sgade opened #71 "Translate standard fields with regards to fields in the class"
**Describe the bug**

Declaring a class with standard fields, e.g. `description`, leads to wrong translations.
Gryphon 0.9 changed some things about the templates and disregards whether there is a field named `description` in a class.

**How to reproduce it**

1. Create a `class` with a `description` field. Swift will let you do this just fine.
2. Translate using Gryphon v0.9.0.
3. Look at Kotlin

[2020-07-07 14:18] sgade commented on #35
Do you have a list of types you'd like to be covered? Otherwise, there could be multiple PRs, each covering one to a few classes at a time.

[2020-07-07 14:29] vinivendra commented on #70
Hi @sgade, thanks for filing this issue (and the others).

We still need to figure out a more comprehensive solution for initializers everywhere, but perhaps we can find (or implement) a solution for your use case in the meantime.

Would you be OK with using something like this in Swift?

[code]

This currently gets translated to

[code]

which works in Kotlin.

If this doesn't work for you, let m

[2020-07-07 14:36] vinivendra commented on #35
Yeah, multiple PRs would definitely be best.

I don't have a list yet. I thought about maybe using something like the [documentation](https://developer.apple.com/documentation/swift/swift_standard_library/) to create a list, at least so we can be sure we considered everything (even though we won't be able to translate everything).

[2020-07-07 14:38] sgade commented on #70
Thanks for your quick reply!
Your suggestions fine works for me and is suitable at the moment, so I'll go with that.

I like the idea of using warnings to inform the user that a certain feature is not (yet) support. Do you think it would make sense do add a warning for this case? It might refer the user to using the possible fix you suggested here.

[2020-07-07 14:43] sgade commented on #35
Alright, when I find the time I'll go over it and look at possible classes and methods that need translating.
Might be only in a couple of weeks, though.

[2020-07-07 14:44] vinivendra commented on #71
Good catch. I _think_ we can fix this by keeping track of what protocols each class implements in the `TemplateContext`, then using that to only translate as `toString` if the class conforms to `CustomStringConvertible`.

If you want to submit a PR for this issue (or any others), feel free to assign it to yourself. Otherwise, I'll try to fix them later today.

[2020-07-07 14:52] sgade commented on #71
Sounds plausible. I have to admin that the code intimidates me a bit at the moment. Also, I was not able to find the `TemplateContext`. So I'm not really sure where to start, but I'd love to submit a PR.

Do you mean the `TranspilationContext`? I found that at the location where I think `toString` method implementations are translated.

[2020-07-07 15:00] vinivendra commented on #70
Yeah, I don't think we currently support any initializers in structs, so it would make sense to raise warnings when we find them.

[2020-07-07 15:06] sgade commented on #15
Does this issue include the fact that a static extension member is not added to the `Companion` object?

I mean something like this:

[code]

which is translated to

[code]

where I'd expect

[code]

[2020-07-07 15:27] sgade opened #72 "Support omitting 'return' keyword"
**Is your feature request related to a problem? Please describe.**

[Swift 5.1 introduced the ability](https://www.swiftbysundell.com/tips/omitting-the-return-keyword/) to omit the `return` keyword, if functions only contain a single expression.
This is currently not translated and leads to a missing `return` keyword in Kotlin.

**Describe the solution you'd like**

Ideally, if a function has only

[2020-07-07 15:31] vinivendra commented on #71
Yeah I did, sorry 😅

No problems, I'm here to help. The more I think about it, though, the more it seems like this is gonna be a complicated one to fix; you might prefer to start by fixing #69 or raising the warnings in #70, which will probably be easier.

Here's what I'd do:

- [ ] In the `TranspilationContext`, create a variable to store type names and their inheritances. Maybe call it something

[2020-07-07 15:36] vinivendra opened #73 "Move from using AST dumps to using SwiftSyntax and SourceKit"
Swift's AST dumps have a lot of useful information, but they're not officially a supported output mode, which leads to a lot of problems. It might be better if we could use SwiftSyntax and SourceKit, which are officially supported frameworks, instead.

This issue will be used to keep track of development and discussion on this topic. An implementation is already underway in the `swift-syntax` bran

[2020-07-07 15:41] sgade commented on #70
I just noticed again why I was using explicit initialisers: The structs I am translating are located in a Swift package and therefore need an explicit `public init` to be accessible by my app project.

Now I could create something business-y like Factories. I guess in my particular case there is not disadvantage in using classes instead.

[2020-07-07 15:46] vinivendra commented on #72
Oh, I totally thought omitting the `return` would work there. Maybe the idiomatic translation of a single-expression function would be something more like this?

[code]

This should be a pretty easy fix in the `KotlinTranslator`: just check if the function's `statements` array contains a single expression, then print the ` = ` version if they are.

[2020-07-07 15:53] sgade commented on #72
You're right, the example you gave is even better in Kotlin. 👍

So this change would involve _not_ printing an opening bracket (`KotlinTranslator.swift` at 673 and 697) and then outputting the single expression in line 731, right? (Also should not add the closing brackets, of course)

[2020-07-07 15:54] vinivendra commented on #15
No, that's a whole other bug 😅 would you mind filing a new report?

It would probably be an easy fix; just [translate variables](https://github.com/vinivendra/Gryphon/blob/development/Sources/GryphonLib/KotlinTranslator.swift#L1202) the same way we [translate functions](https://github.com/vinivendra/Gryphon/blob/development/Sources/GryphonLib/KotlinTranslator.swift#L629).

[2020-07-07 15:58] vinivendra commented on #72
Yeah, I think that could work. You would also need to add the `=` instead of the `{`, and make sure not to add the `}` at line 738.

[2020-07-07 16:00] sgade opened #74 "Support static extension members"
**Describe the bug**

When adding `static` members to a type via `extension`s, they are not added to Kotlin's `Companion` object.
This leads to their accessibility being wrong (on instances instead of types).

**How to reproduce it**
1. Create example (see below).
2. Translate using Gryphon.
3. See the mission `Companion` object in the extension declaration.

**Your environment (please complete th

[2020-07-07 16:01] sgade commented on #74
According to @vinivendra:

[2020-07-08 04:03] vinivendra commented on #72
@sgade I usually release a new version of Gryphon on Wednesdays, so I’ll probably start working on some of these issues before tomorrow evening. Let me know if there are any issues you’d like to fix yourself (like maybe this one) and I can skip them to go fix other stuff 😉

[2020-07-08 08:41] sgade commented on #72
Thanks for the heads-up! With my available resources at the moment I'd like to start working on this particular issue.
I'll send you the PR once I have something working.

[2020-07-08 10:13] sgade commented on #72
I have created a PR that involves functions.

Swift also supports omitting the `return` keyword in computed properties. I would tackle that once the PR is merged and I have a better understanding on how to work on the codebase. :)

[2020-07-08 20:20] vinivendra commented on #70
Ok! I'm gonna implement the warnings for now, but I'll leave this issue open until the initializers are properly fixed.

You could probably ignore your Swift initializer with `// gryphon ignore` and manually add a Kotlin constructor with `// gryphon insert:` (like we do [here](https://github.com/vinivendra/Gryphon/blob/a833f7912e36965314063bb7ac21642b3019de3a/Sources/GryphonLib/TranspilationPass.s

[2020-07-08 22:35] sgade commented on #72
Created that second PR. With that, I guess this issue would be done.

Are there any other places that this should be supported?
Seems like there'd need to be a more generic way to implement this, though... 🤔

[2020-07-09 02:42] #69 closed

[2020-07-09 02:42] #71 closed

[2020-07-09 02:47] vinivendra commented on #72
I'm pretty sure these are all the places this should be supported (since it was already done for closures). That said, there might be a better way to do this once SwiftSyntax support is done, since I'm pretty sure SwiftSyntax comes with a "single-expression" flag we can use.

I closed PR #80 early for the release, but this issue can be closed once the missing test is added.

[2020-07-09 02:47] #74 closed

[2020-07-09 11:17] sgade commented on #71
Thanks for the fix! I wouldn't have gotten it done nearly as quickly as you did. 👍

[2020-07-09 14:14] #72 closed

[2020-07-09 14:21] vinivendra commented on #71
Hey, I've been working on this full-time for three years now, don't feel bad about it 😄

[2020-07-25 17:03] quinntrang commented on #3
Hi,

I would like to work on this issue, and this is my first time contributing to open source!

[2020-07-25 18:55] vinivendra commented on #3
Hi! That’s great, welcome :)

The instructions above should be a good place to start, but feel free to as any questions you have here (or on twitter @vvendra if you prefer).

[2020-08-05 17:34] Aspie96 opened #84 "License"
The license to this project is the Hippocratic License.

However, it previously was Apache, which requires:

And:

So the contributions you received (and there are merged pull requests) are licensed to you under Apache 2.0.

Apache is a permissive license and using a proprietary license is allowed. However, only at the condition of following the terms.

For this reason, this project should still c

[2020-08-06 00:36] vinivendra commented on #84
Hi @Aspie96, thanks a lot for the heads up! I hadn't noticed this. Let me look into it and I'll get back to you asap.

[2020-08-06 03:08] vinivendra commented on #84
Alright, so let me start by saying that I'm not a lawyer, so I'll only be acting according to my best judgement here.

It looks like the license was changed in May 27th, and the only pull request that was made before that was #37 on May 26th, by @pt2121.

So, @pt2121, it looks like when you made your pull request to this project it was licensed to me under the Apache license, but I changed the pro

[2020-08-06 04:12] pt2121 commented on #84
Thanks for asking. You have my consent ofc.

[2020-08-06 13:13] vinivendra commented on #84
Thank you very much, and thanks @Aspie96 again for bringing this to my attention. Unless someone raises a question or concern, I’ll close this issue in a couple of days.

[2020-08-06 13:23] Aspie96 commented on #84
I am very happy about how this turned out.
This is the way to do stuff.

The issue is resolved.

[2020-08-06 13:23] Aspie96 commented on #84
Ops, sorry, I didn't notice you wanted to leave the issue open.

[2020-08-10 12:47] vinivendra commented on #84
No problems, I just wanted to give people time to answer. I think it's OK to close this now. Thanks again, both of you.

[2020-08-10 12:47] #84 closed, assigned to nobody

[2020-08-10 12:59] vinivendra opened #85 "Support Triples"
There's currently no way to use Swift tuples with 3 elements, but we could translate them into Triples just like we do with pairs.

Once that's done, we could create new classes (like Pairs and Triples) in the Gryphon libraries to support tuples with even more elements (though that should be tracked in a new issue).

[2020-08-22 13:25] LouisCAD opened #86 "Support Swift Package Manager"
Hi, here's the problem:
I'd like to have [MongoKitten](https://github.com/OpenKitten/MongoKitten) converted to Kotlin.

Unfortunately, it currently doesn't work because Swift Package Manager dependencies are used (for [Swift NIO](https://github.com/apple/swift-nio) and other source libraries that depend on Swift NIO too.).

Swift NIO definitely has equivalents in Kotlin libraries, the Android plat

[2020-08-22 21:02] vinivendra commented on #86
Hi! Thanks for bringing this to my attention. SPM support sounds like a great idea, but it's been a while since I've thought about it.

This isn't supported right now because the current frontend is based on AST dumps from the Swift compiler, and I don't know how (or even if it's possible) to get those AST dumps for a Swift Package Manager project. I [just asked about it on the forums](https://for

[2020-08-23 09:52] LouisCAD commented on #86
Sounds good!

Please, let me know if it doesn't go as expected and you need ideas for ways to support this :)

[2020-08-25 08:53] msemionenko opened #87 "When I trying use gryphon to translate from Swift to Kotlin I receive an error"
I'm trying to translate one or more files from Swift to Kotlin, but I receive an error:

String index is out of bounds: file /AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-1103.8.25.8/swift/stdlib/public/core/StringRangeReplaceableCollection.swift, line 302
zsh: illegal hardware instruction  gryphon Kotlin.swift

There is an empty protocol in the code that inheri

[2020-08-25 16:09] vinivendra opened #88 "Support protocol inheritance"
Kotlin, like Swift, [supports](https://kotlinlang.org/docs/reference/interfaces.html) protocol inheritance. It would be useful to analyze and compare the feature in the two languages and see which cases can be translated correctly.

[2020-08-25 16:20] vinivendra commented on #87
Hi!

Thanks for the bug report. I just pushed a fix for this crash on the `development` branch. You can try it now if you want with `brew install vinivendra/gryphon/gryphon --HEAD` or wait for the fix to be publicly released on Wednesday night.

Protocol inheritances aren't supported yet, but I created issue #88 if you want to track their development. At first glance, it seems like something that

[2020-08-25 16:20] #87 closed, assigned to nobody

[2020-09-05 19:52] codersanjeev commented on #3
Hi, @quinntrang are you still working on this issue?

[2020-09-07 21:20] vinivendra commented on #3
Welcome @codersanjeev :)
I haven't heard from @quinntrang since then, so I think it's safe to assume they're not working on this. Feel free to get it for yourself if you want to. It's been a while, but the instructions above should still be OK. Let me know if anything seems weird for you though.

@quinntrang, if you come back later still wanting a starter bug, just let me know and I'll create a ne

[2020-09-08 14:07] codersanjeev commented on #3
@vinivendra  please review, till then, I am looking for the next good first-time issue.

[2020-09-10 01:31] #3 closed

[2020-09-10 04:42] codersanjeev commented on #30
I am working on this issue

[2020-09-20 20:24] sgade commented on #35
So I dug through the documentation link you provided and came up with a list of types and functions that should be looked at in how they are translated. Most are covered already.

I will dump this list here as you are currently working on the SourceKit AST version of gryphon if I am not mistaken.
Once that is done, we could look at how the following types are translated and if any need special tem

[2020-09-21 22:35] vinivendra commented on #35
Looks great!

Yeah, I'm working on SourceKit right now, but this could be done in parallel if you want to.

Based on your list, I created a new [Status.md](https://github.com/vinivendra/Gryphon/blob/development/Status.md) file we can use to track development. I'm not sure I like how it turned out though, so suggestions for improving it are welcome.

If you want to begin implementing the new templa

[2020-10-01 13:24] simoalx commented on #28
I can take a look at this if you like!

[2020-10-01 13:40] vinivendra commented on #28
Yes, that’d be great!

The arguments are handled in Driver.swift, so that’s a good place to start. If you need any help, let me know.

[2020-10-01 18:24] simoalx commented on #28
https://github.com/simoalx/Gryphon/commit/7ee8e00ef646c3c1c7667a3a9ce90b8b32f76ccd

Does this look like the sort of thing that you want? I need to clean it up and add some tests, but seems like it might be along the right lines

[2020-10-01 18:44] vinivendra commented on #28
Yeah, that's pretty much what I had in mind 👍

I'd just be careful overloading the pattern matching operator (`~=`) because I'm afraid it might cause problems somewhere else in the code, but other than that this looks pretty good.

[2020-10-09 05:49] codersanjeev opened #91 "Specify native warnings for Arrays and Dictionaries"
**Describe the bug**
Specify native warnings for the following type of syntax:
[code]

**Your environment (please complete the following information):**
 - OS: macOS
 - Gryphon version: 0.10.4

[2020-10-15 09:47] #91 closed, assigned to codersanjeev

[2020-12-18 20:18] rlinoz commented on #88
I am needing this feature, so I guess I could help, if you give me an idea from where to start

[2020-12-20 13:13] troys-code opened #93 "support .xcfilelist comments"
## Reproduce steps

1. Add a comment to `gryphonInputFiles.xcfilelist`

[code]

2. Run the Gryphon target for your Xcode project
3. Expected: Gryphon runs successfully
  Actual: Gryphon fails with 'File not found' error

[code]

## Extra info

When viewing `gryphonInputFiles.xcfilelist` in Xcode editor, the line starting with `#` is grayed out because Xcode recognizes it as a comment.

[2020-12-20 21:09] vinivendra commented on #93
Thanks for the report, I just pushed commit 7aeaaa3da81a5a16b57f2bd1b75a46deb47ac839 that should fix this 😄

You can try it now if you want with `brew install vinivendra/gryphon/gryphon --HEAD`, or wait for the fix to be publicly released on Wednesday night.

[2020-12-20 21:09] #93 closed, assigned to nobody

[2020-12-20 22:33] vinivendra commented on #88
Hi! I took a look at this today and it doesn't look like it's gonna cause many problems. The implementation should be pretty simple. Maybe something like:

1. Add an `inheritances` property to the `ProtocolDeclaration` class (like the one we have in `ClassDeclaration`).
2. Put the inherited protocols in the property in both `SwiftSyntaxDecoder.swift` and `SwiftTranslator.swift` (again, just like w

[2021-01-04 17:16] rlinoz opened #100 "Failed to convert float literal expression"
**Describe the bug**
Apparently Gryphon is having trouble understanding Doubles and Floats

**How to reproduce it**
If we run this code:
[code]
We get `error: Failed to convert float literal expression (failed to translate SwiftSyntax node).
    return bar ?? 0.0`

Also if we assign a variable of a struct to a Double value it will give a similar error:
[code]
And we get this error: `Failed to conv

[2021-01-05 13:31] vinivendra commented on #100
Hey, thanks for the bug report.

Your examples show two different issues:

[code]

This one failed because Swift treats the `0.0` as an autoclosure, and Gryphon didn't know how to interpret that. This should be fixed now.

[code]

This one actually fails because Swift can't compile it, since we can't mutate the `f` variable because it's a `let`. If we change `f` to be a `var`, Swift compiles it su

[2021-01-05 13:31] #100 closed, assigned to nobody

[2021-01-05 13:34] vinivendra commented on #73
Done as of [v0.10.6](https://github.com/vinivendra/Gryphon/releases/tag/v0.10.6).

[2021-01-05 13:34] #73 closed

[2021-01-05 13:56] #30 closed

[2021-01-05 13:59] vinivendra commented on #27
TupleShuffleExpression was deleted since it doesn't exist in SwiftSyntax.

[2021-01-05 13:59] #27 closed

[2021-01-05 14:01] vinivendra commented on #5
`// gryphon multiline` comments have been removed with the addition of SwiftSyntax.

[2021-01-05 14:01] #5 closed

[2021-01-05 14:01] #1 closed

[2021-01-22 20:39] vinivendra commented on #68
I'm closing this due to inactivity, but if it shows up again feel free to comment below.

[2021-01-22 20:39] #68 closed

[2021-02-19 17:44] Fritoo opened #101 "SwiftSyntax parser library isn't compatible"
**Describe the bug**
SwiftSyntax parser library isn't compatible

**Your environment (please complete the following information):**
 - OS: Mac OS 10.15.7
 - Gryphon version: 0.10.6

**Screenshots and code snippets**
![image](https://user-images.githubusercontent.com/1719209/108541075-e35b3b80-7296-11eb-951e-07f150e34c63.png)
![image](https://user-images.githubusercontent.com/1719209/108541120-f110

[2021-02-19 21:59] vinivendra commented on #101
Hi, thanks for reporting this bug :)

It seems that you're using Gryphon with Swift 5.2, but your app uses the Swift 5.3 toolchain. This might be fixed by updating Gryphon, since newer versions don't use toolchains anymore. Can you try updating to Gryphon v0.13.1 and letting me know if it works?

[2021-02-21 15:47] Fritoo commented on #101
@vinivendra That did it, thanks!

[2021-02-21 15:47] #101 closed, assigned to nobody

[2021-05-04 09:53] troys-code opened #102 "Support Swift 5.4"
Try to run Gryphon on MacOS Big Sur:

[code]

How do I get it working?
If I need to install older swift version, I'm worried that will break Xcode projects.

Previously I have been running Gryphon in a linux docker container and that worked.

[2021-05-05 02:59] vinivendra commented on #102
Hi Troy!

Swift 5.4 isn’t supported yet, but I’ll look into it this weekend.

It seems that you’re using a gryphon version built with Swift 5.3 though, so I’m not sure why it’s complaining about 5.4. Could you please try running `gryphon hello.swift` (without the `./`)? If that doesn’t work, could you run `xcode-select -p` and tell me what that prints?

Also, sorry about that error message, it’s m

[2021-05-05 05:47] troys-code commented on #102
I ran those commands:

[code]

Xcode and MacOS version:

![Screenshot 2021-05-05 at 07 43 06](https://user-images.githubusercontent.com/13446008/117101149-d61dfb00-ad75-11eb-9889-79404e1ea8fa.png)

[2021-05-10 02:07] vinivendra commented on #102
I'm trying to add support for Swift 5.4 but I ran into a SwiftSyntax problem, so it's taking longer than I expected.

In the meantime I thought I'd take a look at why you're getting the `--toolchain` message, but it seems that message isn't present anymore in the latest version of Gryphon. Could you run a `gryphon --version` and tell me what version you're using?

[2021-05-16 22:36] vinivendra commented on #102
Hi @troy-lamerton, this should be fixed in version 0.14. Please try updating Gryphon and let me know if it worked :)

[2021-05-23 16:18] vinivendra commented on #102
I'm closing this because it seems to be fixed. If anyone still has problems, feel free to comment and I'll open it up again.

[2021-05-23 16:18] #102 closed, assigned to nobody

[2021-05-30 22:08] batkov opened #104 "Wrong file path in gryphonInputFiles.xcfilelist leads to script stuck"
If you will make a mistake while adding new file to gryphonInputFiles.xcfilelist script will stuck.
Script failure is expected.

1. Go to 'gryphonInputFiles.xcfilelist'
2. Add new line 'MyApp/Sources/Model/WrongFolder/File.swift'
3. Add new line 'MyApp/Sources/Model/WrongFolder/File.2swift'
4. Run "Gryphon" build or run script manually through terminal
5. See that script stuck instead of failure

[2021-05-31 19:21] batkov opened #105 "The link to license is not working"
Looks like a link `https://firstdonoharm.dev/version/2/1/license.md` is not working and `https://firstdonoharm.dev/version/2/1/license` is proper one.

[2021-06-01 17:24] batkov opened #106 "Kotlin target tries to build Android app with system's JDK"
Basically I'm getting error:
[code]
<img width="594" alt="Screen Shot 2021-06-01 at 8 15 51 PM" src="https://user-images.githubusercontent.com/582671/120364834-5eac9e80-c316-11eb-987b-c41236157ba5.png">

But from Android Studio everything looks good.
It looks like when we are building from the Xcode with `Kotlin` target, jdk installed in the macOS system.
I've tried to change `STUDIO_JDK` and `JAV

[2021-06-05 19:45] vinivendra commented on #105
Thanks for the heads up @batkov, this should be fixed on the development and bootstrap branches (and will be merged in with the next release).

[2021-06-05 19:45] #105 closed, assigned to nobody

[2021-06-05 20:30] vinivendra commented on #104
Hey @batkov, sorry I closed this accidentally. I wasn't able to reproduce your problem but I added a check that should hopefully stop this from happening again. You can try it out with `brew install vinivendra/gryphon/gryphon --HEAD` or wait for the next release if you want to. If you do, please let me know if this fix worked :)

[2021-06-05 20:48] vinivendra commented on #106
Thanks for reporting this bug. I don't have a lot of experience with Android compilation but let's try to figure out what's happening to see how we can fix it with Gryphon.

Basically what Gryphon does in the Kotlin target is switch to the Android app's folder and call Gradle to compile the app:

[code]

This is the main part of a larger script that you can probably see in your iOS project's folde

[2021-06-05 21:25] batkov commented on #104
This one is fixed, thanks.

<img width="506" alt="Screenshot 2021-06-06 at 00 24 55" src="https://user-images.githubusercontent.com/582671/120905853-a6586080-c65d-11eb-822b-6fb45cea1098.png">

[2021-06-05 21:37] batkov commented on #106
Ok, trying to reproduce.
First, I forgot to set $ANDROID_ROOT again and got an error `.gryphon/scripts/compileKotlin.sh: line 21: cd: ../Android: No such file or directory`

I believe it would be beneficial to expand an error with message like `Please make sure you've set $ANDROID_ROOT build variable properly`

[2021-06-05 21:47] batkov commented on #106
So, on fresh macOS i'm getting
[code]

Which means that build tries to build app with system's JDK. Bunch of fixes [is here](https://stackoverflow.com/questions/44009058/even-though-jre-8-is-installed-on-my-mac-no-java-runtime-present-requesting-t).
But basically I think it is not right way to fix the issue, because the tools to build app via Xcode and Android Studio will differ.
I'll try to find

[2021-06-05 21:54] #104 closed, assigned to nobody

[2021-06-05 22:43] batkov commented on #106
Here is my findings.

I've resolved problem locally by changing the script:
from
[code]
to
[code]
This is far from elegant solution, but it is much better than using duplicate JDK in one system.
I would like to see the good solution as following.
root folder of project would be having:
[code]

I know I mentioning another issue here, but having .gryphon-android-root + .gryphon-android-src would mea

[2021-06-12 02:40] troys-code opened #107 "SwiftUI to Jetpack Compose translation"
When working on a mobile app, the user interface must be created twice, or created once in a non-native language.

Now that:

- SwiftUI is stable
- Jetpack Compose is in version 1.0 beta

It seems like a prime time to consider SwiftUI to Jetpack Compose translation.
Would be curious to know if this is even possible? I would make use of such a tool if it can work well.

### Jetpack Compose

Overvie

[2021-06-12 14:49] troys-code commented on #107
updated description.

@vinivendra what do you think?

[2021-06-28 02:43] vinivendra commented on #107
Hi Troy, thanks for the suggestion. This seems like it would be a really good thing to support, but also like something very complicated. We'd have to take a very deep look at how both libraries work to see if a translation is possible. For example:

- It's important to look into how to mitigate differences between similar components (e.g. in what situations does SwiftUI's Text behave differently

[2021-06-28 02:46] vinivendra commented on #106
Hey @batkov, I implemented the config file. It doesn't yet support the Java home setting you asked for, but it's a first step. Let me know if it works for you for now, ok? I'll try to add the Java home support later using this system, that sounds like a good idea.

[2021-07-06 16:05] #107 closed, assigned to nobody

[2021-07-12 20:13] guilhermeluisdomingues opened #108 "Error while installing Gryphon on Apple M1"
**Describe the bug**
While installing Gryphon in M1 an error occurred to get the architecture name.

**How to reproduce it**
brew install vinivendra/gryphon/gryphon

**Your environment (please complete the following information):**
 - Apple M1
 - macOS BigSur 11.4

**Screenshots and code snippets**

[code]

[2021-07-14 21:48] vinivendra commented on #108
Hi @guilhermeluisdomingues, thanks for reporting this bug!

When I created this code there was no M1, so I never considered Gryphon could run on an ARM architecture 😅

It should be fixed now but I don't have an M1 to test it with. Could you try installing with `brew install vinivendra/gryphon/gryphon --HEAD` and telling me if it works?

[2021-07-15 12:38] guilhermeluisdomingues commented on #108
Hey @vinivendra, it works now!
Thank you so much 😄

[2021-07-15 17:09] #108 closed, assigned to nobody

[2021-08-10 17:01] rlinoz opened #109 "Support for Enum as Sealed classes"
**Is your feature request related to a problem? Please describe.**
Today it is not possible to create more elaborated enums, for example:
[code]

**Describe the solution you'd like**
I believe the equivalent in Kotlin would be a sealed class, which would look like this:
[code]
and for cases where the enum has no parameter, for instance if we added a `case t3`, it would output `object T3 : Foo()`

[2021-08-16 12:38] vinivendra commented on #109
Hey @rlinoz, thanks for the feedback. I'll look into it as soon as I get a chance.

[2021-09-04 14:30] vinivendra commented on #109
So, I finally found time to take a look. What you're trying to do here is technically supported, just not with the syntax you're using. Try this:

[code]

[code]

Notice that you used `case .t1(let value)` and I used `case let .t1(value: value)`, so there are two main differences: the `let` has to be in the beginning, and the `value:` label has to be present. I can probably fix the first problem a

[2021-09-04 17:33] vinivendra commented on #109
OK, I just pushed a few changes to the development branch that should add support for `let`s in the middle of the expression and improve the "missing label" error message. Could you check it out for me with `brew install vinivendra/gryphon/gryphon --HEAD` and tell me if it works?

[2021-09-09 01:00] vinivendra commented on #109
The fix was released in v0.17. Feel free to open the issue again if there are any other problems!

[2021-09-09 01:00] #109 closed, assigned to nobody

[2021-09-09 22:18] bardigolriz opened #110 "Swift 5.5 support"
I’m currently on Xcode 13 beta using the Swift 5.5 toolchain. This isn’t supported by Gryphon at the moment, but with iOS 15’s public release imminent, it would be great for Gryphon to support the latest Swift version for those of us who are depending on it already.

I was asked to create this issue, so that progress on this task can be shared.

Many thanks!

[2021-09-18 02:10] vinivendra commented on #110
Hi there, thanks for bringing this to my attention. It took a while, but I was able to create a version that should support Swift 5.5 (at least the current beta). It's on the development branch currently, you can test it with `brew install vinivendra/gryphon/gryphon --HEAD`.

If there are no problems, I'll release it as soon as Swift 5.5 is officially released, ok?

[2021-09-25 12:01] vinivendra commented on #110
Swift 5.5 support was released in version 0.18.

[2021-09-25 12:01] #110 closed, assigned to nobody

[2021-10-28 15:11] tfmart opened #111 "GryphonSwiftLibrary fails to build on Xcode 13"
**Describe the bug**
When I try to build a project which contains the `GryphonSwiftLibrary` file, the file fails to build on Xcode 13.0/13.1. I've already tried updating the file by running `gryphon generate-libraries` after updating to `0.18` but it still fails. I've tried using it in both a existing project, which works fine on Xcode 12, and on a brand new project created with Xcode 13. In both

[2021-10-28 15:26] vinivendra commented on #111
Hey @tfmart, thank you for opening this bug. I was already trying to solve it, but it's good to have a GitHub issue so we can track the progress.

It seems that there was some change in the way Swift interprets protocol conformances that breaks the implementations of the classes. I'm not yet sure what happened, and the error messages aren't helping. I might have to ask for help in the Swift forums

[2021-10-28 15:39] tfmart commented on #111
Sure @vinivendra, thanks for reaching out!

[2021-11-08 01:28] vinivendra commented on #111
I tried again today, but no luck. I just posted this question on the Swift forums, so I hope someone there can help: https://forums.swift.org/t/protocol-conformance-stopped-working-in-xcode-13/53345

[2021-11-08 17:27] tfmart commented on #111
Thanks for the update, sadly I couldn't get anything working on my end as well... Let's hope someone can help us out at the forum 🤞

[2021-11-09 02:29] vinivendra commented on #111
Hey @tfmart, the Swift forums came through. I just published the fix in [v0.18.1](https://github.com/vinivendra/Gryphon/releases/tag/v0.18.1). Let me know if the problem is fixed, ok?

[2021-11-09 12:08] tfmart commented on #111
Glad to hear that, @vinivendra! I'll let you know as soon as I give it a try

[2021-11-10 15:19] tfmart commented on #111
Everything is working great so far on my project, @vinivendra, so I'll close this issue. Thanks for the support!

[2021-11-10 15:19] #111 closed, assigned to nobody

[2022-02-07 12:04] kyzmitch opened #112 "Fail to do an init for Xcode project which uses SPM because UseModernBuildSystem is hardcoded to NO"
https://github.com/vinivendra/Gryphon/blob/5bf69a6d33839a7b9db3d82283b6c2bff878eeac/Sources/GryphonLib/Driver.swift#L786

It seems when Xcode project uses Swift Package Manager it must use New Build System, but this setting is hardcoded (see code above). UseModernBuildSystem should be possible to set to YES.

Tried to set it in console with bash variable but it shouldn't help, because it is hardco

[2022-02-11 15:13] vinivendra commented on #112
Hey @kyzmitch, thanks for opening this issue. I didn't know we had this problem with the new build system, but I guess it was bound to happen someday.

I see you already started working on a fix, so let me give you some background that might help you out.

The only reason (as far as I remember) why Gryphon runs `xcodebuild` is because it needs to know every argument that the Swift compiler needs f

[2022-02-28 04:32] bryanaamot opened #114 "initialize_from_file unknown"
After running this:
   gryphon init SampleApp.xcodeproj/

I get this error:

Error making gryphon targets:
	Ruby version 3.1.1
/usr/local/Cellar/gryphon/0.18.1/libexec/vendor/gems/xcodeproj-1.16.0/lib/xcodeproj/project.rb:227:in `initialize_from_file': [Xcodeproj] Unknown object version. (RuntimeError)
	from /usr/local/Cellar/gryphon/0.18.1/libexec/vendor/gems/xcodeproj-1.16.0/lib/xcodeproj/projec

[2022-02-28 12:13] vinivendra commented on #114
Hey @bryanaamot, thanks for opening this issue. I've looked at the [Xcodeproj code](https://github.com/CocoaPods/Xcodeproj/blob/d452ec31c3718ba0048d0d17f372db8663ea3dea/lib/xcodeproj/project.rb#L227) to try to figure out what's going on, but didn't understand much.

Can you share more information about the app you're trying to initialize? What Xcode and Swift versions are you using? Is it just a c

[2022-02-28 19:43] dylandrones commented on #114
I am seeing this same error message in Terminal. I was following the tutorial up until "Step 3: Initialization" when I got the following error in terminal:

[code]

Environment:
swift-driver version: 1.26.21 Apple Swift version 5.5.2 (swiftlang-1300.0.47.5 clang-1300.0.29.30)
Target: x86_64-apple-macosx12.0

Xcode version 13.2.1
macOS Monterey Version 12.1

[2022-03-03 01:04] dylandrones commented on #114
@bryanaamot, I Resolved the build issue by re-installing `xcodeproj` via `sudo gem install xcodeproj`, as stated in the tutorial.

[2022-03-15 21:31] dylandrones opened #115 "Unable to convert files that reference classes defined in a private pod"
### How can I convert swift files that have references to classes defined in a private pod repo, using Gryphon?

**What happens:**
I get the following error message when trying to build the Gryphon project from my Xcode workspace.
`SourceKit failed to get an expression's type. Try running gryphon init again.`

**What I expected to see:**
I expected the file to be able to converted. Gryphon succeed

[2022-04-09 11:53] vinivendra commented on #115
Hey @dylandrones, yeah you guessed it. SourceKit needs to know every file necessary to compile your Swift code. If a declaration that you use is in another package (like a pod repo), SourceKit doesn't have enough type information and Gryphon can't go on with the compilation.

There are a few things you can try here:
1. Create a stub `MyPoint` declaration to be used only with Gryphon translations,

[2022-04-09 12:01] vinivendra opened #116 "Support Swift 5.6"
Gryphon should be updated to support Swift 5.6. Here's how it'll probably go:

1. Update the `Package.swift` file to support the [new Swift 5.6 tag](https://github.com/apple/swift-syntax).
2. Update the `SwiftSyntax_PrintableAsTree.swift` file with any nodes that may have been added to Swift 5.6.
3. Test everything to make sure nothing was broken in the process.

Bonus: also update SourceKitten.

[2022-04-11 17:14] dylandrones commented on #115
Hello,

I would like to perform **option 2**, but not sure how to add the "pod repo's files when calling Gryphon".

Since there will be more the one file from the framework, can I add a reference to the framework folder?

Is there a tutorial somewhere on how to do that?
- I tried adding "Input Files" in the Xcode build phrases `Call Gryphon` under the Gryphon target, with no success. I am unsure o

[2022-06-15 00:48] pgneri commented on #116
Hi o/
Do you have any plans to release a new version?

[2022-06-16 03:04] vinivendra commented on #116
Hi! Yes, I do. I’ve been working on this on and off for the last few months, but it’s been much more challenging than I initially thought (and much worse than what was needed for Swift 5.3-5.5).
I think I’m almost there, there are only a few tests left to fix (mainly for Xcode 13.3 integration). However, since I only do this when I have free time (and some mental energy), it’s hard to say when tha

[2022-06-17 06:01] pgneri commented on #116
Got it, if I can help in any way, just say so. I even wanted to learn how to maintain the Gryphon, it makes our work and sharing code between platforms a lot easier, you did and you're doing an amazing job!!!

[2022-06-26 03:22] vinivendra commented on #116
@pgneri thanks for your support 😄

I just released version `0.19` with support for Swift 5.6. It still doesn't support all features in Xcode 13.3+, but at least it compiles fine now. I'm going to close this issue and open a new one to track Xcode integration separately, ok?

If you want to contribute with the code, all help is welcome! I'd recommend looking at the [good first issues](https://githu

[2022-06-26 03:23] #116 closed, assigned to nobody

[2022-06-26 03:26] vinivendra opened #117 "Support Xcode 13.3+"
The Xcode integration is still working for Xcode 13.2.1, but not for Xcode 13.3 and later. This is easy to see when running the automated Xcode tests (`./Scripts/runTests.sh -x`).

We need to implement support for Xcode 13.3+'s new format for `xcodebuild` output messages, and then fix any future bugs that might show up after that.

[2022-08-16 21:10] msegced opened #118 "Error installing Gryphon on maOS 12.2.1 (Monterey)"
**Describe the bug**
When I install Gryphon with home-brew and manually I always get:
error: the library 'GryphonLib' requires macos 10.13, but depends on the product 'SourceKittenFramework' which requires macos 12.0; consider changing the library 'GryphonLib' to require macos 12.0 or later, or the product 'SourceKittenFramework' to require macos 10.13 or earlier.

**How to reproduce it**
How can

[2022-08-23 17:10] tfmart commented on #117
Hey @vinivendra! Yesterday I managed to solve the build errors that were occurring on the GryphonSwiftLibrary that Gryphon generates on our project, so I forked this repository and tried my hand at implementing these changes to Gryphon itself, however I had some issues trying to running the tests

I unfortunately couldn't work around on the issue with the new `xcodebuild` output yet, so I couldn't

[2022-08-23 17:11] tfmart commented on #117
Also, another thing that was stopping Gryphon from working was that [SourceKitten released a new version (0.33) a couple of weeks ago](https://github.com/jpsim/SourceKitten/releases/tag/0.33.0), which now has a macOS 12.0 as a minimum target, while Gryphon's is macOS 10.13. This may be related to what has been reported on issue #118. To fix this on my fork, I've increased the target to 12.0, but w

[2022-08-26 19:27] tfmart commented on #117
I've tried building the `GryphonSwiftFile` on beta 6 and noticed that there was another missing requirement. For Swift 5.7, it seems that `MutableCollection` require us to set explicit setters and getters for the `subscript(bounds:)` method, so I added the following:

[code]

I'm aware that these are not a real solution, more like an unblocker for now. If anyone could shed some light on how to set

[2022-09-05 12:20] vinivendra commented on #117
Hi @tfmart! Thanks a lot, this will definitely help.

That looks good, would you like to open a PR from your fork to my `development` branch so that I can accept those changes? Otherwise I can also replicate them myself here.

Hmm that's surprising to me, in the `Package.swift` file the SourceKitten version is locked at `0.31.1`... but if that worked, then it's one less problem too. If you could,

[2022-09-05 12:22] vinivendra commented on #118
Hi @msegced, thanks for opening this bug report. We might have a solution for it (which is being discussed in #177), I'll let you know if we deploy it so that you can try again.

[2022-09-07 23:30] tfmart commented on #117
Hey @vinivendra! I just tried running the project with the newly released Xcode 14 RC and the project built fine with the changes I mentioned above. In the end, I didn't end having any issues with the `subscript(bounds:)`, guess it might could've been an issue with the beta.

I've opened #119, if you have any questions we can discuss further here or in the PR!

[2022-09-08 20:03] tfmart commented on #118
I've opened #120 to fix this issue

[2022-09-08 20:35] tfmart commented on #117
Hey, I've decided to open a pull request for #118 as well, if you want to take a look at one issue at a time. But my previous PR #119 contains all the changes from #120 as well.

[2022-10-20 17:10] Alphapage commented on #118
Hello,
2 months without being able to install the tool !!!
Switch to v12 , swift-tools-version:5.5 and "https://github.com/jpsim/SourceKitten",.exact("0.33.0")
We need to be able to install gryphon